body {
  background-color: #dadada;
}

.ui.inverted.menu.nav-bar {
  a.active {
    color: #ae9eff;
  }

  a:hover {
    color: #f3df88;
  }
}

#root {
  height: 100%;
  width: 100%;
}

#root > .ui.container {
  height: 100%;
  padding: 1%;

  #login {
    height: 100%;
  }
}

.nav-bar {
  height: 50px;
}

.ui.menu.nav-bar {
  margin-bottom: 0px;
}

.ui.container.main > .ui.header {
  margin-top: 0px;
}

.ui.divided.items > .item {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.04);
  margin-bottom: 1em;

  .content {
    padding: 1%;
  }
}
